body .visit {
    position: relative;
    background: linear-gradient(to bottom, #021c4d 0%, #021c4d 8%, #42abff 100%);
    width: 100%;
    height: 100vh;
    transition: all 1s;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: #ddedfc;
        transition: all 1s;
    }
}
