.visit .frame-4 {
    transform: translateY(150%);

    .frameForm {
        width: 540px;
    }

    .frameName {
        color: #0a366c;
    }

    .subFrameName {
        color: #ffb900;
    }

    .description {
        color: #0a366c;
    }

    .buttonDetail {
        background-color: #ffb900;

        &:hover {
            background-color: #ffc324;
        }
    }
}
