.visit .frame-5 {
    transform: translateY(150%);

    .frameForm {
        height: 500px;
    }

    .frameName {
        color: #0a366c;
    }

    .subFrameName {
        color: #FC8E8E;
    }

    .description {
        color: #0a366c;
    }

    .buttonDetail {
        background-color: #FC8E8E;

        &:hover {
            background-color: #fba3a3;
        }
    }
}
