.visit .frame-2 {
    transform: translateY(150%);

    .frameName {
        color: #0a366c;
    }

    .subFrameName {
        color: #7ea8f8;
    }

    .description {
        color: #0a366c;
    }

    .buttonDetail {
        background-color: #7ea8f8;

        &:hover {
            background-color: #6f9bee;
        }
    }
}
