.visit .frame-2 {
    transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateY(150%);
    overflow: hidden;

    .frameName {
        color: #0a366c;
    }

    .description {
        color: #0a366c;
    }
}
