/*
 * Ignore this
 */

.page-id-104 footer {
    display: none;
}

.visit .logoMDN {
    transition: all .3s;
}




/*
 * Scroll CSS system
 */

body[data-scroll-state] { // There is a scroll state
    .visit .background {
        opacity: 1;
    }

    .visit .logoMDN {
        opacity: 0;
    }

    .frame-1 {
        transform: translateY(-150%);
    }
}

body[data-scroll-state="0"] {
    .visit .background {
        opacity: 0;
    }

    .visit .logoMDN {
        opacity: 1;
    }

    .frame-1 {
        transform: translateY(0);
    }

    .frame-2, .frame-4 {
        transform: translateY(150%);
    }

    .frame-3, .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="1"] {
    .arianeString .arianeElement.water {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #7ea8f8;
        }
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .frame-2 {
        transform: translateY(0%);

        .subFrame-1 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-2, .subFrame-3, .subFrame-4, .subFrame-5, .subFrame-6 {
            transform: translateY(150%);
        }
    }

    .frame-3, .frame-5 {
        transform: translateX(150%);
    }

    .frame-4 {
        transform: translateY(150%);
    }
}

body[data-scroll-state="2"] {
    .arianeString .arianeElement.water {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #7ea8f8;
        }
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .frame-2 {
        transform: translateY(0%);

        .subFrame-1 {
            transform: translateY(-150%);
        }

        .subFrame-2 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-3, .subFrame-4, .subFrame-5, .subFrame-6 {
            transform: translateY(150%);
        }
    }

    .frame-3, .frame-5 {
        transform: translateX(150%);
    }

    .frame-4 {
        transform: translateY(150%);
    }
}

body[data-scroll-state="3"] {
    .arianeString .arianeElement.water {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #7ea8f8;
        }
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .frame-2 {
        transform: translateY(0%);

        .subFrame-1, .subFrame-2 {
            transform: translateY(-150%);
        }

        .subFrame-3 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-4, .subFrame-5, .subFrame-6 {
            transform: translateY(150%);
        }
    }

    .frame-3, .frame-5 {
        transform: translateX(150%);
    }

    .frame-4 {
        transform: translateY(150%);
    }
}

body[data-scroll-state="4"] {
    .arianeString .arianeElement.water {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #7ea8f8;
        }
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .frame-2 {
        transform: translateY(0%);

        .subFrame-1, .subFrame-2, .subFrame-3 {
            transform: translateY(-150%);
        }

        .subFrame-4 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-5, .subFrame-6 {
            transform: translateY(150%);
        }
    }

    .frame-3, .frame-5 {
        transform: translateX(150%);
    }

    .frame-4 {
        transform: translateY(150%);
    }
}

body[data-scroll-state="5"] {
    .arianeString .arianeElement.water {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #7ea8f8;
        }
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .frame-2 {
        transform: translateY(0%);

        .subFrame-1, .subFrame-2, .subFrame-3, .subFrame-4 {
            transform: translateY(-150%);
        }

        .subFrame-5 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-6 {
            transform: translateY(150%);
        }
    }

    .frame-3, .frame-5 {
        transform: translateX(150%);
    }

    .frame-4 {
        transform: translateY(150%);
    }
}

body[data-scroll-state="6"] {
    .arianeString .arianeElement.water {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #7ea8f8;
        }
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .frame-2 {
        transform: translateY(0%);

        .subFrame-1, .subFrame-2, .subFrame-3, .subFrame-4, .subFrame-5 {
            transform: translateY(-150%);
        }

        .subFrame-6 {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .frame-3, .frame-5 {
        transform: translateX(150%);
    }

    .frame-4 {
        transform: translateY(150%);
    }
}

body[data-scroll-state="7"] {
    .arianeString .arianeElement.cloud {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #8396AB;
        }
    }

    .visit .background {
        background: white;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);

        .subFrame-1, .subFrame-2, .subFrame-3, .subFrame-4, .subFrame-5 {
            transform: translateY(-150%);
        }

        .subFrame-6 {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .frame-3 {
        transform: translateX(0%);

        .subFrame-1 {
            transform: translateX(0%);
            opacity: 1;
        }

        .subFrame-2, .subFrame-3, .subFrame-4, .subFrame-5 {
            transform: translateX(150%);
        }
    }

    .frame-4 {
        transform: translateY(150%);
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="8"] {
    .arianeString .arianeElement.cloud {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #8396AB;
        }
    }

    .visit .background {
        background: white;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateX(0%);

        .subFrame-1 {
            transform: translateX(-150%);
        }

        .subFrame-2 {
            transform: translateX(0%);
            opacity: 1;
        }

        .subFrame-3, .subFrame-4, .subFrame-5 {
            transform: translateX(150%);
        }
    }

    .frame-4 {
        transform: translateY(150%);
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="9"] {
    .arianeString .arianeElement.cloud {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #8396AB;
        }
    }

    .visit .background {
        background: white;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateX(0%);

        .subFrame-1, .subFrame-2 {
            transform: translateX(-150%);
        }

        .subFrame-3 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-4, .subFrame-5 {
            transform: translateX(150%);
        }
    }

    .frame-4 {
        transform: translateY(150%);
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="10"] {
    .arianeString .arianeElement.cloud {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #8396AB;
        }
    }

    .visit .background {
        background: white;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateX(0%);

        .subFrame-1, .subFrame-2, .subFrame-3 {
            transform: translateX(-150%);
        }

        .subFrame-4 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-5 {
            transform: translateX(150%);
        }
    }

    .frame-4 {
        transform: translateY(150%);
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="11"] {
    .arianeString .arianeElement.cloud {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #8396AB;
        }
    }

    .visit .background {
        background: white;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateX(0%);

        .subFrame-1, .subFrame-2, .subFrame-3, .subFrame-4 {
            transform: translateX(-150%);
        }

        .subFrame-5 {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .frame-4 {
        transform: translateY(150%);
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="12"] {
    .arianeString .arianeElement.light {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #ffb900;
        }
    }

    .visit .background {
        background: #f8fbff;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateY(-150%);

        .subFrame-1, .subFrame-2, .subFrame-3, .subFrame-4 {
            transform: translateY(-150%);
        }

        .subFrame-5 {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .frame-4 {
        transform: translateY(0%);

        .subFrame-1 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-2, .subFrame-3, .subFrame-4, .subFrame-5 {
            transform: translateY(150%);
        }
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="13"] {
    .arianeString .arianeElement.light {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #ffb900;
        }
    }

    .visit .background {
        background: #f8fbff;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateY(-150%);
    }

    .frame-4 {
        transform: translateY(0%);

        .subFrame-1 {
            transform: translateY(-150%);
        }

        .subFrame-2 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-3, .subFrame-4, .subFrame-5 {
            transform: translateY(150%);
        }
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="14"] {
    .arianeString .arianeElement.light {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #ffb900;
        }
    }

    .visit .background {
        background: #f8fbff;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateY(-150%);
    }

    .frame-4 {
        transform: translateY(0%);

        .subFrame-1, .subFrame-2 {
            transform: translateY(-150%);
        }

        .subFrame-3 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-4, .subFrame-5 {
            transform: translateY(150%);
        }
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="15"] {
    .arianeString .arianeElement.light {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #ffb900;
        }
    }

    .visit .background {
        background: #f8fbff;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateY(-150%);
    }

    .frame-4 {
        transform: translateY(0%);

        .subFrame-1, .subFrame-2, .subFrame-3 {
            transform: translateY(-150%);
        }

        .subFrame-4 {
            transform: translateY(0%);
            opacity: 1;
        }

        .subFrame-5 {
            transform: translateY(150%);
        }
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="16"] {
    .arianeString .arianeElement.light {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #ffb900;
        }
    }

    .visit .background {
        background: #f8fbff;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateY(-150%);
    }

    .frame-4 {
        transform: translateY(0%);

        .subFrame-1, .subFrame-2, .subFrame-3, .subFrame-4 {
            transform: translateY(-150%);
        }

        .subFrame-5 {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .frame-5 {
        transform: translateX(150%);
    }
}

body[data-scroll-state="17"] {
    .arianeString .arianeElement.flash {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #FC8E8E;
        }
    }

    .visit .background {
        background: #F6F6F6;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateY(-150%);
    }

    .frame-4 {
        transform: translateX(-150%);

        .subFrame-1, .subFrame-2, .subFrame-3, .subFrame-4 {
            transform: translateY(-150%);
        }

        .subFrame-5 {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .frame-5 {
        transform: translateX(0%);

        .subFrame-1 {
            transform: translateX(0%);
            opacity: 1;
        }

        .subFrame-2, .subFrame-3 {
            transform: translateX(150%);
        }
    }
}

body[data-scroll-state="18"] {
    .arianeString .arianeElement.flash {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #FC8E8E;
        }
    }

    .visit .background {
        background: #F6F6F6;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2, .frame-4 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateY(-150%);
    }

    .frame-5 {
        transform: translateX(0%);

        .subFrame-1 {
            transform: translateX(-150%);
        }

        .subFrame-2 {
            transform: translateX(0%);
            opacity: 1;
        }

        .subFrame-3 {
            transform: translateX(150%);
        }
    }
}

body[data-scroll-state="19"] {
    .arianeString .arianeElement.flash {
        svg {
            transform: translateY(0);
        }

        p span {
            transform: translateY(0);
        }

        svg .st0 {
            fill: #FC8E8E;
        }
    }
    
    .visit .background {
        background: #F6F6F6;
    }

    .toggleMenu .textMenu {
        color: black;
    }

    .toggleMenu svg .menuLines {
        fill: #000;
    }

    .frame-2,  .frame-4 {
        transform: translateX(-150%);
    }

    .frame-3 {
        transform: translateY(-150%);
    }

    .frame-5 {
        transform: translateX(0%);

        .subFrame-1, .subFrame-2 {
            transform: translateX(-150%);
        }

        .subFrame-3 {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}
