.visit .frame-1 {
    display: flex;
    padding: 18% 3%;
    overflow: hidden;

    .texts {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-left: 10%;
        color: white;

        .title {
            font-family: $second-font;
            font-size: 36px;
            letter-spacing: 1.4px;
            font-weight: bold;
        }

        .bio {
            margin-top: 10px;
            opacity: .7;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 1.3px;
            line-height: 1.5;
        }
    }

    .tickets {
        display: flex;
        justify-content: center;
        width: 50%;

        img {
            width: 275px;
            align-self: center;

            &:first-child {
                transform: translateY(20%);
            }

            &:last-child {
                transform: translateY(-20%);
            }
        }
    }

    .scrollInvitation {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);

        @media (max-height: 1440px) {
            bottom: -150px;
        }

        @media (max-width: $phone) {
            bottom: -180px;
        }

        p {
            text-align: center;
            color: white;
            font-size: 12px;
            letter-spacing: 2.4px;
            opacity: 0.8;
            line-height: 1.5;
            margin-bottom: 24px;
        }

        .lineScroll {
            width: 1px;
            margin: 0 auto;
        }
    }
}
