.error__page{
    .headerPage{
        height: 100vh;
    }

    .button{
        padding: 18px;
        width: 280px;
        position: absolute;
        top:60%;
        left:50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}
