.clouds {
    position: absolute;
    top: 100vh;
    background: linear-gradient(to bottom, #ffffff 0%, #014c98 5%, #def0ff 100%);
    width: 100%;
    height: calc(10024px + 500px);

    .underParallax {
        width: 100vw;
    }
}
