footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 110px 100px 120px 100px;
    color: #435971;
    background-color: #051a33;

    @media (max-width: $phone) {
        padding: 110px 30px 120px 30px;
    }

    .footer_left {
        display: flex;
        flex-direction: column;
        width: 50%;

        @media (max-width: $tablet) {
            width: 100%;
            margin-bottom: 150px;
        }

        img {
            width: 85px;
            margin-bottom: 30px;
        }

        .number {
            font-size: 18px;
            letter-spacing: 1px;
            margin-bottom: 13px;
            line-height: 1.5;
        }

        .mail {
            font-size: 18px;
            letter-spacing: 1px;
            margin-bottom: 90px;
            line-height: 1.5;
        }

        .newsletterTitle {
            margin-bottom: 35px;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 1.5;
            color: white;
            text-transform: uppercase;
        }

        .newsletterInput {
            position: relative;
            width: 270px;
            max-width: 100%;
            height: 45px;

            input {
                width: 100%;
                height: 100%;
                border-bottom: 1px solid white;
                color: white;

                &::placeholder {
                    color: #435971;
                }
            }

            img {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 19px;
            }
        }
    }

    .footer_right {
        position: relative;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $tablet) {
            width: 100%;
            height: 350px;
        }

        @media (max-width: $phone) {
            height: 550px;
        }

        .navLink {
            width: calc(50% - 40px);
            font-size: 16px;
            letter-spacing: .8px;
            text-transform: uppercase;
            opacity: .5;
            color: white;
            border-bottom: 1px solid white;
            transition: all .3s;
            padding-bottom: 24px;

            @media (max-width: $phone) {
                width: 100%;
            }

            &:hover {
                opacity: 1;
            }
        }

        .social {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;

            @media (max-width: $phone) {
                bottom: -50px;
                right: auto;
                left: 0;
            }

            a {
                margin-left: 14px;

                @media (max-width: $phone) {
                    margin-left: 0;
                    margin-right: 14px;
                }

                img {
                    height: 16px;
                }
            }
        }
    }

    .copyright {
        margin-top: 110px;
        font-size: 16px;
        letter-spacing: .8px;
        line-height: 1.5;
    }
}
