.services{

    .headerPage{
        height: 100vh;
    }

    .headerSubtitle{
        @media (max-width: $phone) {
            width: 16rem;
        }
    }

    .headerAnchors{
        width: 100%;
        height: auto;
        padding: 40px 80px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: white;
        transition: all ease 0.25s;

        @media (max-width: $phone) {
            padding: 20px 30px;
        }
    }

    .headerAnchorsFixed{
        overflow-x: hidden;
        position: fixed;
        top: 0;
        height: 95px;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
        box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
        z-index: 2;
        padding: 20px 80px;
        transition: all ease 0.25s;

        @media (max-width: $phone) {
            padding: 20px 30px;
        }
    }

    .anchorsLinks{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        transition: all ease 0.25s;

        .anchor{
            min-width: 240px;
            width: 250px;
            height: auto;
            display: inline-block;
            text-transform: uppercase;
            color: #697995;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 1rem;
            opacity: 0.36;
            line-height: 23px;
            font-family: $second-font;
            transition: all ease 0.25s;

            &:hover{
                opacity: 1;
            }

            a{
               min-width: 250px;
            }

            @media (max-width: $phone) {
                text-align: left;
                margin-right: 120px;
            }
        }

        .activeAnchor{
            transition: all ease 0.25s;
            opacity: 1;
        }

        .anchor:nth-child(2){
            max-width: 200px;
        }
    }

    .servicesIntro{
        margin: auto;
        width: 80%;
        position: relative;
        padding: 3rem 10rem;
        font-family: $first-font;
        color: black;
        font-size:1em;
        font-weight: lighter;
        line-height: 1.25rem;
        margin-bottom: 100px;

        @media (max-width: $phone) {
            padding: 5rem 2rem;
        }

        p + p{
            margin-bottom: 15px;
        }

        strong{
            font-weight: normal;
        }

        em{
            font-style: italic;
        }

        .chapeau{
            font-weight: bold;
            font-size: 1.3rem;
            line-height: 30px;
            color: $argile-dark;
            font-size: 25px;
            letter-spacing: 1.5px;
            color: $argile;
            line-height: 1.5;
        }
    }

    .button{
        padding: 18px;
        width: 280px;
        position: absolute;
        bottom: -9%;
        left:50%;
        transform: translateX(-50%);
        opacity: 1;
    }

    .servicesList .button{
        bottom: -50px;
    }

    .servicesList{
        position: relative;
        margin-bottom: 11rem;
    }

    .servicesList .service:nth-child(odd){
        background: #FBFBFB;
    }

    .service{
        padding: 6rem 10rem;

        @media (max-width: $phone) {
            padding: 4rem 2rem;
        }

        .serviceName{
            font-family: $second-font;
            color: #4B4B4B;
            font-size: 1.75rem;
            position: relative;
            width:auto;
            display: inline-block;
            margin-bottom: 10px;
            font-weight: 600;

            &:after{
                content:'';
                position: absolute;
                width:7px;
                height:7px;
                border-radius: 50%;
                background-color: $blue;
                top: 60%;
                right: -4%;

                @media (max-width: $phone) {
                    content: none;
                }
            }
        }

        .serviceText, .serviceList{
            margin: 30px 0;
            font-family: $first-font;
            color: black;
            font-size:1em;
            font-weight: lighter;
            line-height: 1.7rem;
        }

        .serviceListTitle{
            font-family: $first-font;
            color: black;
            font-size:1em;
            font-weight: bold;
            letter-spacing: 0.3px;
        }

        .servicePhoto{
            margin-top: 50px;
            width: 100%;
            height: 25rem;
            max-height: 25rem;
            display: block;
            position: relative;
            overflow: hidden;

            @media (max-width: $phone) {
                 margin-top: 0px;
            }

            img{
                position: absolute;
                width: 100%;
                height: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}
