#header {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translate(0, -100%);
    background-color: #e1e8f6;
    transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 12;

    &.active {
        transform: translate(0, 0);
    }
}

.toggleHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: blue;
    cursor: pointer;
    z-index: 15;
}

ul {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

#front-page {
    height: 200vh;

    .hero {
        display: flex;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, rgba(1,23,71,1) 0%, rgba(37,122,197,1) 100%);

        .texts {
            width: 70%;
            max-width: 750px;
            padding-bottom: 25vh;
            margin: auto;
            text-align: center;
            color: white;

            .title {
                display: flex;
                flex-direction: column;

                .second {
                    font-size: 68px;
                    letter-spacing: -.1px;
                    text-transform: uppercase;
                }

                .main {
                    font-size: 130px;
                    letter-spacing: -.1px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }

            p {
                margin-top: 30px;
                font-size: 18px;
                opacity: .75;
                letter-spacing: 2px;
                line-height: 1.5;
            }
        }

        .parallax {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .layer {
                background-position: bottom center;
                background-size: 100% auto;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 5;
            }

            .mountain {
                background-image: url('../img/mountain.png');
            }

            .cloud {
                background-image: url('../img/cloud.png');
            }
        }
    }
}
