.idea/
.DS_Store
wp-admin/
wp-includes/
wp-content/plugins
wp-content/themes/twentyseventeen
wp-content/languages
index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-signup.php
wp-mail.php
wp-settings.php
wp-trackback.php
xmlrpc.php
*.log
node_modules/
