.news {

    .headerPage{
        height: 100vh;
    }

    .headerTerms{
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 73px;
        background-color: white;
        transition: all ease 0.25s;
    }

    .headerSocialLinks{
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: white;
        transition: all ease 0.25s;
    }

    .listArticles {
        animation: fadeEffect 1.2s;
        transition: all ease 0.3s;
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin: 0 auto;
        padding-top: 47px;
        padding-bottom: 90px;
        display: none;

        .article {
            position: relative;
            width: 100%;
            height: 400px;
            background-color: #c9c9c9;
            border-radius: 5px;
            margin-bottom: 24px;
            transition: all .3s ease-out;

            &:hover {
                box-shadow: 4px 6px 20px 3px rgba(220, 220, 220, 0.5);

                .content .articleResume {
                    opacity: 1;
                    transform: translateY(0);
                }

                .readMore {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            &:nth-child(7n + 1) {
                width: calc(67% - 12px);
                margin-right: 24px;
            }

            &:nth-child(7n + 2) {
                width: calc(33% - 12px);
            }

            &:nth-child(7n + 3) {
                width: calc(50% - 12px);
                margin-right: 24px;
            }

            &:nth-child(7n + 4) {
                width: calc(50% - 12px);
            }

            &:nth-child(7n + 5) {
                width: calc(33.3% - 16px);
                margin-right: 24px;
            }

            &:nth-child(7n + 6) {
                width: calc(33.4% - 16px);
                margin-right: 24px;
            }

            &:nth-child(7n + 7) {
                width: calc(33% - 16px);
            }

            @media (max-width: $desktop) {
                width: 100%!important;
                margin-right: 0!important;
            }

            .gradient {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0));
                pointer-events: none;
                border-radius: 5px;
            }

            .bgArticle {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                object-fit: cover;
                border-radius: 5px;
            }

            .content {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 33px 37px;

                .info {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 14px;

                    .theme, .date {
                        font-size: 14px;
                        font-family: $second-font;
                        color: white;
                        letter-spacing: .8px;
                        text-transform: uppercase;
                    }
                }

                .articleTitle {
                    padding-bottom: 25px;

                    h2 {
                        display: inline-block;
                        border-bottom: 2px solid white;
                        padding-bottom: 12px;
                        font-size: 24px;
                        line-height: 1.5;
                        color: white;
                        letter-spacing: 1px;
                        font-weight: 600;
                    }
                }

                .articleResume {
                    font-size: 14px;
                    line-height: 1.5;
                    letter-spacing: .8px;
                    color: white;
                    opacity: 0;
                    transform: translateY(30px);
                    transition: all .3s ease-out;
                }
            }

            .readMore {
                position: absolute;
                display: flex;
                flex-direction: column;
                left: 37px;
                bottom: 38px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.17);
                padding: 14px 37px;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: .8px;
                color: #515B6C;
                text-transform: uppercase;
                opacity: 0;
                transform: scale(0);
                transition: all .3s ease-out;
            }
        }
    }

    .wp-pagenavi{
        margin-top: 50px;
        width: 100%;
        text-align: center;

        a.page{
            color: #949494;
        }

        a.page, .current{
            border: none;
        }

        .current{
            position: relative;
            font-size: 18px;
            &:after{
            content: '';
            background-color: $blue;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            }
        }
    }
}
