.path {
    .heading {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);

        top: 35px;
        opacity: 0;
        transition: all .5s;
        padding: 0 20px;

        text-align: center;
        font-size: 25px;
        letter-spacing: 1.5px;
        color: $argile;
        line-height: 1.5;

        @media (max-width: 800px) {
            font-size: 18px;
        }

        &.visible {
            opacity: 1;
        }

        .second {
            font-weight: 200;
            margin-bottom: 20px;

            @media (max-width: 800px) {
                margin-bottom: 10px;
            }
        }
    }

    .legend {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 1.2px;
        font-weight: 300;
        color: $argile-dark;
        text-align: center;
    }

    .point {
        position: absolute;
        transform: translateX(-50%) scale(1.5);
        z-index: 2;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        border: 5px solid white;
        background: black;
        box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.05);
        opacity: 0;
        z-index: 5;
        transition: all .5s;

        img {
            transition: all .3s;
        }

        &.visible {
            opacity: 1;
            transform: translateX(-50%) scale(1);
        }

        &.big {
            cursor: pointer;

            &.visible:hover {
                transform: translateX(-50%) scale(1.1);
            }
        }

        &.point-1 {
            top: 240px;
            left: calc(50% + 58px);
            background: #0a366c;
        }

        &.point-2 {
            top: 670px;
            left: calc(50% + -93px);
            background: #0a366c;

            @media (max-width: $phone) {
                top: 806px;
                left: calc(50% - 40px);
            }
        }

        &.point-3 {
            top: 1000px;
            left: calc(50% + 144px);
            background: #0a366c;

            @media (max-width: $phone) {
                top: 1292px;
            }
        }

        &.point-4 {
            top: 1570px;
            left: calc(50% + -57px);
            background: #0a366c;
        }

        &.point-5 {
            position: relative;
            top: 1860px;
            left: calc(50% + -78px);
            background: $yellow;
            border: 4px solid #fff;
            width: 96px;
            height: 96px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &.point-6 {
            top: 2105px;
            left: calc(50% + 92px);
            background: $yellow;
        }

        &.point-7 {
            top: 3835px;
            left: calc(50% - 7px);
            background: $yellow;

            @media (max-width: $phone) {
                top: 2400px;
                left: calc(50% + 168px);
            }
        }

        &.point-8 {
            top: 5230px;
            left: calc(50% + 295px);
            background: $yellow;

            @media (max-width: $phone) {
                top: 3110px;
                left: calc(50% + 118px);
            }
        }

        &.point-9 {
            position: relative;
            top: 5550px;
            left: calc(50% + 120px);
            background: $blue;
            border: 4px solid #fff;
            width: 96px;
            height: 96px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media (max-width: $phone) {
                top: 3500px;
                left: calc(50% + 118px);
            }
        }

        &.point-10 {
            top: 6030px;
            left: calc(50% - 50px);
            background: $blue;

            @media (max-width: $phone) {
                top: 4200px;
                left: calc(50% + 53px);
            }
        }

        &.point-11 {
            top: 6250px;
            left: calc(50% + 237px);
            background: $blue;

            @media (max-width: $phone) {
                top: 5120px;
                left: calc(50% + 190px);
            }
        }

        &.point-12 {
            top: 6780px;
            left: calc(50% - 170px);
            background: $blue;

            @media (max-width: $phone) {
                top: 5370px;
                left: calc(50% + 340px);
            }
        }

        &.point-13 {
            top: 7080px;
            left: calc(50% - 183px);
            background: $blue;

            @media (max-width: $phone) {
                top: 6130px;
                left: calc(50% + 81px);
            }
        }

        &.point-14 {
            top: 7400px;
            left: calc(50% + 41px);
            background: $blue;

            @media (max-width: $phone) {
                top: 6668px;
            }
        }

        &.point-15 {
            top: 7680px;
            left: calc(50% - 70px);
            background: $green;
            border: 4px solid white;
            width: 96px;
            height: 96px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media (max-width: $phone) {
                top: 7180px;
            }
        }

        &.point-16 {
            top: 8080px;
            left: calc(50% + 278px);
            background: $green;

            @media (max-width: $phone) {
                top: 7920px;
                left: calc(50% + 109px);
            }
        }

        &.point-17 {
            top: 8490px;
            left: calc(50% + 21px);
            background: $green;

            @media (max-width: $phone) {
                top: 8160px;
                left: calc(50% + 315px)
            }
        }

        &.point-18 {
            top: 9570px;
            left: calc(50% + 21px);
            background: $green;

            @media (max-width: $phone) {
                top: 8794px;
            }
        }

        &.point-19 {
            top: 10210px;
            left: calc(50% + 90px);
            background: $green;

            @media (max-width: $phone) {
                top: 9660px;
                left: calc(50% - 104px);
            }
        }

        &.point-20 {
            top: 11210px;
            left: calc(50% + 45px);
            background: $green;

            @media (max-width: $phone) {
                top: 10660px;
                left: calc(50% - 71px);
            }
        }

        &.point-21 {
            top: 11780px;
            left: calc(50% - 265px);
            background: $green;
        }
    }

    .paragraph {
        position: absolute;
        transform: translateX(-50%);
        z-index: 2;
        width: 400px;
        opacity: 0;
        transition: all .5s;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 1.2px;
        font-weight: 300;
        color: $argile-dark;

        @media (max-width: $phone) {
            left: 50%!important;
            width: 100%;
            padding: 0 15px;
            font-size: 16px;
            letter-spacing: 1px;
        }

        @media (max-width: 360px) { // Thin phones
            font-size: 15px;
            letter-spacing: 0px;
        }

        .important {
            font-weight: 400;
        }

        .big {
            font-size: 36px;

            @media (max-width: $phone) {
                font-size: 24px;
            }
        }

        &.visible {
            opacity: 1;
        }

        &.paragraph-1 {
            top: 280px;
            left: calc(50% + 270px);

            @media (max-width: $desktop) {
                top: 330px;
                left: calc(50% + 210px);
            }

            @media (max-width: $phone) {
                top: 340px;
                padding-left: 47%;
                text-align: right;
            }
        }

        &.paragraph-2 {
            top: 510px;
            left: calc(50% - 330px);

            @media (max-width: $desktop) {
                top: 510px;
                left: calc(50% - 265px);
                width: 200px;
            }

            @media (max-width: $phone) {
                top: 900px;
                padding-right: 48%;
                width: 100%;
            }
        }

        &.paragraph-3 {
            top: 790px;
            left: calc(50% + 370px);

            @media (max-width: $desktop) {
                top: 670px;
                left: calc(50% + 240px);
                width: 250px;
            }

            @media (max-width: $phone) {
                top: 1210px;
                padding-right: 47%;
                width: 100%;
            }
        }

        &.paragraph-4 {
            top: 1500px;
            left: calc(50% - 370px);

            @media (max-width: $desktop) {
                top: 1460px;
                left: calc(50% - 250px);
                width: 250px;
            }

            @media (max-width: $phone) {
                top: 1530px;
                padding-left: 47%;
                text-align: right;
                width: 100%;
            }
        }

        &.paragraph-5 {
            top: 1900px;
            left: calc(50% - 80px);
            font-size: 110px;
            font-family: $second-font;
            font-weight: 700;
            letter-spacing: 3.5px;
            color: $yellow;

            @media (max-width: $phone) {
                top: 1850px;
                text-align: right;
                font-size: 100px;
                padding-right: 10%;
            }
        }

        &.paragraph-6 {
            top: 1920px;
            left: calc(50% + 321px);

            @media (max-width: $desktop) {
                top: 1850px;
                left: calc(50% + 241px);
                width: 250px;
            }

            @media (max-width: $phone) {
                top: 2205px;
                padding-right: 25%;
                width: 100%;
            }
        }

        &.paragraph-7 {
            top: 3820px;
            left: calc(50% + 281px);

            @media (max-width: $desktop) {
                left: calc(50% + 220px);
                width: 280px;
            }

            @media (max-width: $phone) {
                top: 2450px;
                padding-right: 33%;
                width: 100%;
            }
        }

        &.paragraph-8 {
            top: 5210px;
            left: calc(50% + 11px);

            @media (max-width: $phone) {
                top: 3200px;
                padding-right: 20%;
            }
        }

        &.paragraph-9 {
            top: 5710px;
            left: calc(50% - 200px);
            font-size: 110px;
            font-family: $second-font;
            font-weight: 700;
            letter-spacing: 3.5px;
            color: $blue;

            @media (max-width: $desktop) {
                top: 5670px;
                left: calc(50% - 160px);
            }

            @media (max-width: $phone) {
                top: 3460px;
                padding-right: 10%;
                font-size: 100px;
            }
        }

        &.paragraph-10 {
            top: 5920px;
            left: calc(50% + 220px);

            @media (max-width: $desktop) {
                left: calc(50% + 200px);
                width: 380px;
            }

            @media (max-width: $phone) {
                top: 4230px;
                padding-right: 45%;
                width: 100%;
            }
        }

        &.paragraph-11 {
            top: 6280px;
            left: calc(50% - 75px);
            width: 700px;

            @media (max-width: $desktop) {
                width: 550px;
            }

            @media (max-width: $phone) {
                top: 5180px;
                width: 100%;
            }
        }

        &.paragraph-12 {
            top: 6840px;
            left: calc(50% + 215px);
            width: 750px;

            @media (max-width: $desktop) {
                top: 6770px;
                left: calc(50% + 135px);
                width: 350px;
            }

            @media (max-width: $phone) {
                top: 5400px;
                width: 100%;
            }
        }

        &.paragraph-13 {
            top: 7110px;
            left: calc(50% - 400px);
            width: 312px;

            @media (max-width: $desktop) {
                top: 7220px;
                left: calc(50% - 210px);
            }

            @media (max-width: $phone) {
                top: 6210px;
                width: 100%;
                padding-right: 25%;
            }
        }

        &.paragraph-14 {
            top: 7340px;
            left: calc(50% + 270px);
            width: 300px;

            @media (max-width: $desktop) {
                left: calc(50% + 220px);
                width: 270px;
            }

            @media (max-width: $phone) {
                top: 6780px;
                width: 100%;
                padding-left: 35%;
            }
        }

        &.paragraph-15 {
            top: 7800px;
            left: calc(50% - 270px);
            font-size: 110px;
            font-family: $second-font;
            font-weight: 700;
            letter-spacing: 3.5px;
            color: $green;

            @media (max-width: $desktop) {
                top: 7850px;
                left: calc(50% - 150px);
            }

            @media (max-width: $phone) {
                top: 7034px;
                font-size: 75px;
                text-align: right;
                padding-right: 10%;
            }
        }

        &.paragraph-16 {
            top: 8100px;
            left: calc(50% + 30px);

            @media (max-width: $phone) {
                top: 7990px;
                padding-right: 30%;
            }
        }

        &.paragraph-17 {
            top: 8520px;
            left: calc(50% + 300px);

            @media (max-width: $desktop) {
                top: 8390px;
                left: calc(50% + -240px);
                width: 250px;
            }

            @media (max-width: $phone) {
                top: 8180px;
                padding-right: 15%;
                width: 100%;
            }
        }

        &.paragraph-18 {
            top: 9660px;
            left: calc(50% + 300px);

            @media (max-width: $desktop) {
                left: calc(50% + 160px);
            }

            @media (max-width: $phone) {
                top: 8856px;
                padding-right: 30%;
            }
        }

        &.paragraph-19 {
            top: 10300px;
            left: calc(50% - 250px);

            @media (max-width: $desktop) {
                top: 10250px;
                left: calc(50% - 170px);
            }

            @media (max-width: $phone) {
                top: 9760px;
                padding-left: 25%;
            }
        }

        &.paragraph-20 {
            top: 11260px;
            left: calc(50% - 170px);

            @media (max-width: $desktop) {
                top: 11210px;
                left: calc(50% - 170px);
            }

            @media (max-width: $phone) {
                top: 10740px;
                padding-left: 35%;
            }
        }

        &.paragraph-21 {
            top: 11840px;
            left: calc(50% + 60px);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 600px;
            height: 320px;

            @media (max-width: $phone) {
                top: 11600px;
                flex-wrap: nowrap;
                flex-direction: column;
                width: 100%;
                height: auto;
                align-items: center;
            }

            .partner {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 200px;

                @media (max-width: $phone) {
                    margin-bottom: 30px;
                }

                p {
                    font-size: 18px;
                    font-family: $second-font;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                }

                &.iesa img {
                    width: 122px;

                    @media (max-width: $phone) {
                        width: 72px;
                    }
                }

                &.studialis img {
                    width: 180px;

                    @media (max-width: $phone) {
                        width: 48px;
                    }
                }

                &.iesa-incub img {
                    width: 78px;

                    @media (max-width: $phone) {
                        width: 48px;
                    }
                }

                &.upup img {
                    width: 108px;

                    @media (max-width: $phone) {
                        width: 78px;
                    }
                }

                &.medef img {
                    width: 175px;

                    @media (max-width: $phone) {
                        width: 100px;
                    }
                }
            }
        }
    }

    .picture {
        position: absolute;
        opacity: 1;
        transition: all .3s;

        @media (max-width: $phone) {
            display: none;
        }

        .cloud-1 {
            position: absolute;
            top: 0;
        }

        .cloud-2 {
            position: absolute;
        }

        &.picture-1 {
            top: 830px;
            left: 0;

            .cloud-1, .cloud-2 {
                left: 0;
            }
        }

        &.picture-2 {
            top: 1230px;
            right: 0;

            .cloud-1, .cloud-2 {
                right: 0;
            }
        }

        &.picture-3 {
            top: 2230px;

            .mainPicture {
                margin-left: 8vw;
            }

            .cloud-1, .cloud-2 {
                left: 0;
            }
        }

        &.picture-4 {
            top: 2390px;
            right: 0;

            @media (max-width: $desktop) {
                display: none;
            }

            .cloud-1, .cloud-2 {
                right: 0;
            }
        }

        &.picture-5 {
            top: 3080px;
            left: 0;

            @media (max-width: $desktop) {
                .mainPicture {
                    width: 80%;
                }
            }

            .cloud-1, .cloud-2 {
                left: 0;
            }
        }

        &.picture-6 {
            top: 4130px;
            left: 0;

            @media (max-width: $desktop) {
                .mainPicture {
                    width: 80%;
                }
            }

            .cloud-1, .cloud-2 {
                left: 0;
            }
        }

        &.picture-7 {
            top: 4490px;
            right: 0;

            @media (max-width: $desktop) {
                display: none;
            }

            .cloud-1, .cloud-2 {
                right: 0;
            }
        }

        &.picture-8 {
            top: 8970px;
            left: 0;

            .cloud-1, .cloud-2 {
                left: 0;
            }
        }

        &.picture-9 {
            top: 10580px;
            right: 0;

            .cloud-1, .cloud-2 {
                right: 0;
            }
        }
    }

    .seeRealizations {
        position: absolute;
        top: 12707px;
        left: 50%;
    }

    .conclusion {
        position: absolute;
        top: 12900px;
        left: calc(50%);
        transform: translateX(-50%);
        width: 80%;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 2.7px;
        text-align: center;
        color: $argile-dark;

        @media (max-width: $desktop) {
            top: 12840px;
        }

        .conclusion-2 {
            font-size: 22px;
            font-weight: 600;
            margin-top: 50px;
        }
    }

    .takeContact {
        position: absolute;
        margin-top: 80px;
        left: 50%;
    }
}
