@font-face {
  font-family: 'Bauhaus';
  src: url('../font/Bauhaus.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
    font-family: $first-font, sans-serif;

    &.noOverflow {
        overflow: hidden;
    }
}

// Prohibit the drag of images
img, svg {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
}
