@font-face {
  font-family: 'Bauhaus';
  src: url('../font/Bauhaus.woff2');
}
@font-face {
  font-family: 'Palatino-Italic';
  src: url('../font/Palatino-Italic.woff2');
}

body {
    font-family: $first-font, sans-serif;

    &.noOverflow {
        overflow: hidden;
    }
}

// Prohibit the drag of images
img, svg {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
}
