body {
    font-family: 'Montserrat', sans-serif;

    &.noOverflow {
        overflow: hidden;
    }
}

// Prohibit the drag of images
img, svg {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
}
