// Breakpoints
$phone: 768px;
$tablet: 992px;
$desktop: 1200px;
$lg-desktop: 1600px;

// Fonts
$first-font: 'Source Sans Pro';
$second-font: 'Nunito';
$third-font: 'Bauhaus';

// Colors
$grey: #cbcbcb;
