// Breakpoints
$phone: 768px;
$tablet: 992px;
$desktop: 1200px;
$lg-desktop: 1600px;

// Fonts
$first-font: 'Source Sans Pro';
$second-font: 'Nunito';
$third-font: 'Bauhaus';

// Colors
$grey: #cbcbcb;
$argile: #0a366c;
$argile-dark: #0a366c;
$yellow: #fff5a8;
$blue: #77C6FF;
$green: #6eca64;
