@charset "UTF-8";



/*
 * Bases
 */

@import '../scss/app';

.visit.main {
    height: auto!important;
    background: none!important;
    padding-bottom: 50px;

    .arianeString {
        display: none;
    }

    .frame {
        position: relative;
        height: auto;

        &.frame-1 {
            height: 100vh;
            background: linear-gradient(to bottom, #011747 0%, #257ac5 85%, #a5bed2 100%);
        }

        .frameForm {
            display: none;
        }

        .frameName {
            position: relative;
            margin: 100px auto -140px auto;
            font-size: 44px;
            left: 0;
            text-align: center;
        }

        .subFrame {
            position: relative;
            opacity: 1;
            transform: none;
            height: auto;
            text-align: center;
            margin-top: 200px;

            .description, .subFrameName, .buttonDetail {
                left: auto;
                position: relative;
                margin: 0 auto;
                transform: none;
                margin-bottom: 30px;
            }

            .description {
                font-size: 16px;
            }

            .introduction {
                font-size: 16px;
                font-weight: 400;
                width: 500px;
            }

            .subFrameName {
                font-size: 50px;
            }

            .buttonDetail {
                display: inline-block;
            }
        }

        .subFrame-1 {
            margin-bottom: 70px;
        }

        .subFrameImg {
            width: auto;
            height: auto;
            z-index: -1;
            transform: none;
            left: 50%;

            .card-1 {
                opacity: .6;
                height: 140px;
                width: auto;
                transform: translate(-50%, 195px) rotate(-5deg);
            }

            .card-2 {
                display: none;
            }

            .card-3 {
                display: none;
            }
        }

        .subFrame-2 .card-1 { // Exception for first
            transform: translate(-50%, 125px) rotate(-5deg);
        }
    }

    .frame-1, .frame-2, .frame-3, .frame-4, .frame-5 {
        transform: none;
    }

    .caseStudy {
        position: fixed;
        top: 0;
        text-align: left;
        z-index: 10;

        .goBack.arrow {
            left: 0;
            top: -50px;
        }
    }
}
