@charset "UTF-8";



/*
 * Bases
 */

@import '../scss/base/reset';
@import '../scss/base/variables';
@import '../scss/base/base';



/*
 * Layouts
 */

@import '../scss/layouts/menu';
@import '../scss/layouts/footer';
@import '../scss/layouts/loader';
@import '../scss/layouts/contact';

@import '../scss/layouts/home/hero';
@import '../scss/layouts/home/path';
@import '../scss/layouts/home/pathContent';
@import '../scss/layouts/home/clouds';

@import '../scss/layouts/visit/background';
@import '../scss/layouts/visit/framesHandle';
@import '../scss/layouts/visit/frame';
@import '../scss/layouts/visit/frame-1';
@import '../scss/layouts/visit/frame-2';
@import '../scss/layouts/visit/frame-3';



/*
 * Components
 */

@import '../scss/components/sound';
@import '../scss/components/buttons';
@import '../scss/components/header';


.visit {
    .frame {
        position: relative;
        height: auto;

        &.frame-1 {
            height: 100%;
        }

        .frameForm {
            display: none;
        }

        .frameName {
            position: relative;
            margin: 30px auto;
            font-size: 44px;
            left: 0;
            text-align: center;
        }

        .subFrame {
            position: relative;
            opacity: 1;
            transform: none;
            height: auto;
            text-align: center;
            margin-bottom: 100px;

            .description, .subFrameName, .buttonDetail {
                left: auto;
                position: relative;
                margin: 0 auto;
                transform: none;
                margin-bottom: 30px;
            }

            .description {
                font-size: 16px;
            }

            .subFrameName {
                font-size: 50px;
            }

            .buttonDetail {
                display: inline-block;
            }
        }

        .subFrameImg {
            display: none;
        }
    }

    .frame-1, .frame-2, .frame-3, .frame-4 {
        transform: none;
    }
}
