@charset "UTF-8";



/*
 * Bases
 */

@import '../scss/app';

.visit {
    .frame {
        position: relative;
        height: auto;

        &.frame-1 {
            height: 100%;
        }

        .frameForm {
            display: none;
        }

        .frameName {
            position: relative;
            margin: 30px auto;
            font-size: 44px;
            left: 0;
            text-align: center;
        }

        .subFrame {
            position: relative;
            opacity: 1;
            transform: none;
            height: auto;
            text-align: center;
            margin-bottom: 100px;

            .description, .subFrameName, .buttonDetail {
                left: auto;
                position: relative;
                margin: 0 auto;
                transform: none;
                margin-bottom: 30px;
            }

            .description {
                font-size: 16px;
            }

            .subFrameName {
                font-size: 50px;
            }

            .buttonDetail {
                display: inline-block;
            }
        }

        .subFrameImg {
            display: none;
        }
    }

    .frame-1, .frame-2, .frame-3, .frame-4, .frame-5 {
        transform: none;
    }
}
